@import 'utils/styles/mixins.scss';

.container {
  display: flex;
}

.imageWrapper {
  height: 350px;
  width: 350px;
  padding-top: 50px;
  flex-grow: 0;

  > img {
    width: 100%;
    height: 100%;
  }
}

.changeJerseyButton {
  margin: 25px auto 0 auto;
  width: 120px;
  text-decoration: underline;
}

.contentWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 50px;
}

.name {
  font-size: 40px;
  font-weight: 500;
  margin-right: 5px;
}

.new {
  align-items: center;
  background: var(--yellow);
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 60px;
  margin-bottom: 5px;
}

.nameWrapper {
  display: inherit;

  img {
    height: 40px;
  }
}

.reviewInfo {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.countryInfo {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.reviewText {
  margin-left: 5px;
  display: flex;
  align-items: center;

  span {
    cursor: pointer;
  }
}

.or {
  margin: 0 4px;
}

.underlineButton {
  text-decoration: underline;
  font-weight: bold;
}

.clubInfo {
  margin-top: 20px;
  text-align: left;
  width: 300px;
}

.clubInfoTitle {
  margin-bottom: 20px;
}

.trophiesWrapper {
  display: flex;
  justify-content: space-between;

  span {
    text-transform: capitalize;
  }
}

.priceWrapper {
  margin-top: 20px;
  margin-bottom: 10px;

  .price {
    font-weight: bold;
  }

  .oldPrice,
  .price {
    margin: 0 2px;
  }
}

.discount {
  font-weight: bold;
}

.priceLabel {
  +.price {
    font-weight: bold;
  }
}

.addCardButton {
  @include reset-button;
  width: 150px;
  padding: 10px 0;
  background-color: var(--yellow);
  margin-top: 20px;
  text-align: center;
}

.countryImage {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
}

.countryLabel {
  margin-right: 10px;
}

.countryFlagWrapper {
  display: flex;
  align-items: center;
}
