@mixin reset-button() {
  background-color: transparent;
  border: 0;
  box-sizing: inherit;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-align: inherit;
  cursor: pointer;

  &:not([disabled]) {
    cursor: pointer;
  }
}
