:root {
  --color-black: #000;
  --color-white: #fff;
  --light-blue: #8CD0E3;
  --yellow: #f5ea77;
  --error-red: #FF0000;
  --google-button-blue: #4285f4;

  /*gray*/
  --accordion-gray: #E0E0E0;
  --disabled-button-gray: #d3d3d3;
  --register-gray: #f7f7f7;
  --input-label-gray: #666;
}
