@import 'utils/styles/mixins.scss';

.quantityWrapper {
  display: flex;
  border: 1px solid black;
}

.quantityButton {
  @include reset-button;
  height: 30px;
  width: 30px;
  text-align: center;
}

.input {
  border: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  width: 30px;
  font-size: 16px;
  background: transparent;
}
