@import 'utils/styles/mixins.scss';

.teamWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.button {
  margin: 20px auto 20px auto;
  width: 150px;
  text-align: center;
}
