@import 'utils/styles/mixins.scss';

.shoppingCartListWrapper {
  margin-top: 30px;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid black;
  padding-top: 10px;

  > span {
    font-weight: bold;
    font-size: 18px;
  }
}

.countryName {
  font-size: 12px;
}

.link {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 20px;
}

.checkoutLink {
  width: 100%;
  margin: 40px auto 40px auto;
}
