.team {
  width: 33.33%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.nameLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;

  > img {
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
  }
}

.jersey {
  height: 250px;
}

.price {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: #8CD0E3;
  padding: 10px;
  color: white;
}
