.navigation {
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 80px;
  width: 100%;
}

.someContent {
  align-self: center;
  justify-self: start;
  margin-left: 20px;
}

.logo {
  align-self: center;
  justify-self: center;
}

.iconsWrapper {
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}
