@import 'utils/styles/mixins.scss';

.navigation {
  background-color: var(--light-blue);
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 80px;
  width: 100%;
}

.someContent {
  align-self: center;
  justify-self: start;
  margin-left: 20px;
}

.logo {
  align-self: center;
  justify-self: center;
  color: var(--black);
}

.iconsWrapper {
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  display: flex;
  position: relative;
  align-items: center;
}

.count {
  align-items: center;
  background-color: var(--yellow);
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: -5px;
  top: -10px;
  width: 20px;
}

.shoppingCartButton,
.profileButton {
  @include reset-button;
  margin-left: 5px;
}

.profileButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  > img {
    height: 100%;
  }
}

.profileNoSignIn {
  color: var(--black);
}
