.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfoLogIn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginLink {
  text-decoration: underline;
  font-weight: bold;
  display: inline;
}

.info {
  margin-left: 5px;

  p:first-of-type {
    margin-bottom: 5px;
  }
}
