@import 'utils/styles/mixins.scss';

.removeButton {
  @include reset-button;
  text-decoration: underline;
  font-size: 12px;
}

.controlWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
