.home {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 250px auto;
}

.teamsSection {
  padding: 20px 60px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
