.login {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.signIn,
.register {
  width: 50%;
}

.register {
  padding: 20px;
  background-color: var(--register-gray);
}

.createAccountLink {
  text-align: center;
  width: 160px;
}

.signIn {
  padding: 20px 30px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  padding: 10px 5px;
  box-sizing: border-box;
}

.signInButton {
  text-align: center;
  margin-right: 20px;
  margin: 0 auto;
  width: 200px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.errorMsg {
  color: var(--error-red);
  display: block;
  margin-top: 5px;
}

.verificationMsg {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--error-red);
  text-align: center;
}

.googleText {
  margin-left: 30px;
}

.signInRegisterWrapper {
  display: flex;
}

.forgetPasswordButton {
  margin: 0 auto;
  margin-top: 20px;
}

.signInWithGoogleButton {
  background-color: var(--google-button-blue);
  color: var(--color-white);
  width: 200px;
  text-align: center;
  display: block;
  position: relative;
  border: 1px solid var(--google-button-blue);
  padding: 9px 0;
  margin: 0 auto;
  margin-top: 10px;

  &:hover {
    background-color: var(--google-button-blue);
  }
}

.googleIcon {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.input {
   margin-bottom: 10px;
 }
