.shoppingCartControls {
  width: 500px;
  padding-right: 30px;
}

.shoppingCartContainer {
  padding: 50px 30px 30px 30px;
}

.shoppingCartTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
  background-color: #e3f6fa;
  margin-bottom: 40px;
}

.shoppingCartWrapper {
  display: flex;
  justify-content: space-between;
}

.priceWrapper {
  width: 400px;
  border: 1px solid var(--light-blue);
  padding: 20px;
}

.item {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.infoWrapper + .item {
  margin: 10px;
  display: flex;
  justify-content: space-between;

  span {
    font-weight: bold;
  }
}

.infoWrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-blue);
}

.checkoutLink {
  width: 100%;
  display: block;
  margin: 40px auto 40px auto;
  padding: 10px 0;
  text-align: center;
}

.userLoginInfo {
  margin-top: 20px;
}

.verifyMsg {
  display: block;
  color: var(--error-red);
  margin: 10px 0;
}
