.registerFinalWrapper {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerFinalText {
  font-size: 20px;
  margin-bottom: 20px;
}

.registerFinalButton {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.registerInput {
  padding: 10px 5px;
  width: 200px;
}

.showHidePassButton {
  padding: 0;
  margin-left: auto;
}

.resetPasswordTitle {
  display: block;
  margin-bottom: 10px;
}

.resetPasswordButton {
  width: 150px;
  margin-top: 20px;
  text-align: center;
}
