.registerFinalWrapper {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerFinalText {
  font-size: 20px;
  margin-bottom: 20px;
}

.registerFinalButton {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
